<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<h3>HOME</h3>
	{{#gabs}}
	<form action="/likes" method="post">
		<input type="hidden" name="gabid" value="{{idgabs}}">
		<a href="/likes/{{idgabs}}">{{gab}} made by:{{user_name}} Likes: {{likes}}</a> 
		<button type="submit">Like</button>
		<br>
		<br>
	</form>
	{{/gabs}}
	
</body>
</html>