<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <h1>Submit new user</h1>
  <form action="/social" method="post">
    <input type="textarea" name="blob">
    <button type="submit"></button>
  </form>
</body>
</html>