<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <h1>Gab</h1>
  <form action="/social" method="post">
  	<input type="hidden" name="userid" value="{{userid}}">
    <textarea rows="4" cols="50" name="gab" placeholder="whats on your mind?"></textarea> 
    <button type="submit">Gab</button>
  </form>
</body>
</html>