html {box-sizing:border-box;}
*, *:before, *:after {box-sizing:inherit;}

body {
  margin:0;
  padding:0;
}

h1 {
  color:blue;
}
#gab{
	border:1px solid gray;
	width:700px;
	margin: auto;
}
.wrapper{
	width:900px;
	margin: auto;
	padding:10px;
}
.User{
	text-transform: uppercase;
}
